<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Forgot Password</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card" style="background-color: rgba(255, 255, 255, 0.7); border-radius: 15px; padding: 20px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);">
        <div class="card-body">
          <!-- Makes POST request to /forgot route -->
          <form action="/forgot" method="POST">
            <div class="form-group">
              <label for="email" style="color: #fff;">Email</label>
              <input type="email" class="form-control" name="email" style="border-radius: 25px; border: 2px solid #fff; padding: 15px; background-color: rgba(255, 255, 255, 0.7); font-size: 1.2rem; color: #333;" placeholder="Enter your email">
            </div>
            <br />
            <button type="submit" class="btn btn-orange">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
