<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="home">
   
    <hr>
    <a class="btn-white" href="/register" role="button">Register</a>
    <a class="btn-orange" href="/login" role="button">Login</a></div>

  </div>
</div>

<%- include('partials/footer') %>
